name: crawl and update firebase

permissions:
  contents: read
  id-token: write

on:
  schedule:
    - cron: "0 18 * * 6" # 03:00 KST (18:00 UTC) Sunday
  workflow_dispatch:
    
jobs:
  run-crawler:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests firebase-admin
          # If you have a requirements.txt, use that instead, but verify it has firebase-admin
          # pip install -r crawl/requirements.txt

      - name: Create Service Account Key
        run: echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_KEY }}' > data_collector/serviceAccountKey.json

      - name: Run python collector
        env:
          TMDB_KEY: ${{ secrets.TMDB_KEY }}
        run: python data_collector/collector.py

