name: crawl and update firebase

permissions:
  contents: read
  id-token: write

on:
  schedule:
    - cron: "0 9 * * 1-5" # 18:00 KST (09:00 UTC) Mon-Fri
  workflow_dispatch:
    
jobs:
  run-crawler:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r crawl/requirements.txt

      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$PYTHONPATH:$(pwd)/crawl" >> $GITHUB_ENV

      - name: Create Service Account Key
        run: echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_KEY }}' > crawl/serviceAccountKey.json

      - name: Run python crawler
        run: python crawl/crawler.py

